@import "../../utils/styles/variables.scss";

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: $phone) {
    gap: 4px;
  }

  .loading {
    flex-grow: 0;
    width: 100px;

    span {
      background-color: $primaryAccentColor;
    }
  }

  .button {
    margin: 0;
    padding: 0;
    width: 36px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: none;
    cursor: pointer;

    font-size: 16px;
    color: $primaryTextColor;
    fill: $primaryTextColor;
    stroke: $primaryTextColor;

    transition: fill $transitionProps, stroke $transitionProps,
      color $transitionProps;

    &:hover,
    &Active {
      color: $primaryAccentColor;
      fill: $primaryAccentColor;
      stroke: $primaryAccentColor;
    }

    &Active {
      cursor: default;
    }

    svg {
      fill: inherit;
      stroke: inherit;

      g {
        stroke: inherit;
      }
    }

    &:disabled {
      color: $disabledTextColor;
      fill: $disabledTextColor;
      stroke: $disabledTextColor;
      cursor: default;

      &:hover {
        color: $disabledTextColor;
        fill: $disabledTextColor;
        stroke: $disabledTextColor;
      }
    }
  }

  .pageList {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    gap: 4px;
    flex-wrap: wrap;
  }

  @media screen and (max-width: $phone) {
    .button {
      width: 28px;
      height: 28px;
    }
  }
}
