@import "../../utils/styles/variables";

.root {
  width: 26px;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  fill: transparent;
  stroke: $primaryTextColor;

  transition: fill $transitionProps, stroke $transitionProps;

  .svg {
    fill: inherit;
    stroke: inherit;
    stroke-width: 2px;
  }

  &:hover {
    fill: $primaryAccentColor;
    stroke: $primaryAccentColor;
  }

  &:disabled {
    fill: $disabledTextColor;
    stroke: $disabledTextColor;
    cursor: default;

    &:hover {
      fill: $disabledTextColor;
      stroke: $disabledTextColor;
    }
  }

  &_active {
    fill: $disabledAccentColor;
    stroke: $disabledAccentColor;
  }
}
