@import '../../utils/styles/variables';

.root {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 420px;
  padding: 15px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  border-radius: $borderRadius;
  overflow: hidden;
  box-shadow: 0 8px 16px -8px  $shadowColor;
  transition: box-shadow $transitionProps, padding $transitionProps;

  &:hover {
    box-shadow: 0 16px 26px -8px $shadowColor;
  }
  
  .imageBG {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    object-position: center;
  
    filter: blur(4px) brightness(0.5) grayscale(80%);;
  }
  
  .header {
    height: 64px;
    width: 100%;
    margin: 0;
    padding: 0;

    transition: opacity $transitionProps;
  
    .name {
      height: 100%;
      margin: 0;
      padding: 0;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
    }
  }
  
  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;

    transition: width $transitionProps, height $transitionProps, border-radius $transitionProps;
  }

  .content {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: $contentHeight;
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: 1;
    background-color: $primaryAccentColor;

    transition: bottom $transitionProps, opacity $transitionProps;

    .name {
      margin: 0;
      padding: 0;
      font-weight: 500;
      font-size: 20px;
    }
  }

  .footer {
    align-self: baseline;
    padding-top: 8px;
    width: 100%;
    color: darken($textColor, 20%);
    border-top: 1px solid darken($textColor, 20%);

    transition: opacity $transitionProps;

    p:nth-child(n) {
      margin: 0;
      padding: 0;
      color: inherit;
    }

    .gender {
      color: lighten($primaryAccentColor, 10%);
      font-size: 18px;
      font-weight: 600;
    }

    .Alive {
      font-weight: 600;
      color: lighten($primaryAccentColor, 10%);
    }

    .Dead {
      font-weight: 600;
      color: lighten(red, 10%);
    }
  }

  .button {
    position: absolute;
    right: 24px;
    bottom: 24px;
    z-index: 2;
    width: 42px;
    height: 42px;
    color: $textColor;
    border-radius: $borderRadius;

    transition: bottom $transitionProps;

    .buttonLine {
      display: block;
      position: relative;
      top: -4px;
      width: 50%;
      height: 4px;
      background-color: $textColor;

      &::after {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: $textColor;

        transition: background-color $transitionProps;
      }
    }
  }

  &Active {
    padding: 0;

    .header {      
      opacity: 0;
    }
    
    .avatar {
      width: 100%;
      height: calc(100% - $contentHeight);
      border-radius: 0;
    }

    .content {
      bottom: 0;
    }

    .footer {
      opacity: 0;
    }

    .button {
      bottom: calc($contentHeight - 20px);

      .buttonLine {
        transform: rotateZ(45deg);

        &::after {
          top: 0;
          transform: rotateZ(-90deg);
        }
      }

      &:hover {
        background-color: $primaryAccentColor;

        .buttonLine {
          width: 55%;
          height: 5px;
        }
      }
    }
  }
}