@import "../../utils/styles/variables.scss";

.root {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (max-width: $phone) {
    gap: 40px;
  }

  .rootBG {
    width: 100%;
    height: 90vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    filter: blur(4px);
    overflow: hidden;

    img {
      width: 100%;
    }

    @media screen and (max-width: $tablet) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: $phone) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .header {
    position: relative;
    z-index: 2;

    margin-bottom: 100px;

    width: 100%;
    min-height: 64vh;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    box-sizing: border-box;

    .container {
      padding: 40px;
      //width: 100%;
      min-width: 50vw;

      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 42px;

      color: hsl($primaryTextColorH, $primaryTextColorS, $disabledColorL);
      text-align: right;

      border-radius: $borderRadius;
      box-sizing: border-box;
      box-shadow: 0px 10px 20px $primaryBGColorHSL;

      background-color: hsla(
        $primaryBGColorH,
        $primaryBGColorS,
        $primaryBGColorL,
        0.9
      );

      p {
        margin: 0;
        padding: 0;
      }

      .title {
        .prefix {
          display: block;

          font-size: 1.5em;
          color: inherit;
          text-align: left;
        }

        .name {
          margin: 0;
          padding: 0;

          color: $primaryTextColor;

          font-size: 3em;
          font-weight: 600;
        }
      }
    }
  }

  .content {
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      width: 95vw;
      height: 100%;

      position: absolute;
      top: 0;
      left: 50%;
      z-index: 0;

      border-radius: $borderRadius;
      transform: translateX(-50%);
      box-sizing: border-box;

      background-color: $primaryBGColorHSL;
      box-shadow: 0px -20px 80px 90px $primaryBGColorHSL,
        0px -240px 240px -20px $primaryBGColorHSL;
    }
  }
}
