@import "../../utils/styles/variables.scss";

.root {
  display: flex;
  align-items: center;
  gap: 10px;

  color: hsl($primaryTextColorH, $primaryTextColorS, $disabledColorL);
  text-decoration: none;

  fill: hsl($primaryTextColorH, $primaryTextColorS, $disabledColorL);

  transition: fill $transitionProps, color $transitionProps;

  svg {
    width: 40px;
    height: 40px;
    fill: inherit;
  }

  &:hover {
    color: $primaryAccentColor;
    fill: $primaryAccentColor;
  }
}
