@import "../../utils/styles/variables.scss";

.root {
  width: 100%;
  box-sizing: border-box;

  @media screen and (max-width: $phone) {
    padding: 0;
  }
}

.charsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;

  li {
    width: 42px;
    height: 42px;

    display: flex;

    border-radius: $borderRadius;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;

      object-fit: contain;
      object-position: center;
    }

    &:last-of-type {
      font-size: 2em;
      align-self: flex-end;
    }
  }
}
