@import "../../utils/styles/variables.scss";

.root {
  width: 100%;
  box-sizing: border-box;
}

.charsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  li {
    width: 42px;
    height: 42px;

    display: flex;

    border-radius: $borderRadius;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;

      object-fit: contain;
      object-position: center;
    }

    &:last-of-type {
      font-size: 2em;
      align-self: flex-end;
    }

    @media screen and (max-width: $tablet) {
      width: 34px;
      height: 34px;
    }
  }
}
