//screen settings
$maxWidth: 1300px;
$phone: 425px;
$tablet: 768px;

// color settings
// text
$primaryTextColor: #fff;

$secondaryTextColorH: 160;
$secondaryTextColorS: 100%;
$secondaryTextColorL: 50%;
$secondaryTextColor: hsl(
  $secondaryTextColorH,
  $secondaryTextColorS,
  $secondaryTextColorL
);

// accent
$primaryAccentColor: hsl($secondaryTextColorH, $secondaryTextColorS, 42%);

$secondaryAccentColorH: 220;
$secondaryAccentColorS: 12.33%;
$secondaryAccentColorL: 14.31%;
$secondaryAccentColor: hsl(
  $secondaryAccentColorH,
  $secondaryAccentColorS,
  $secondaryAccentColorL
);
//background
$primaryBGColorH: 0;
$primaryBGColorS: 0%;
$primaryBGColorL: 11%;
$primaryBGColorHSL: hsl($primaryBGColorH, $primaryBGColorS, $primaryBGColorL);

$secondaryBGColorHSL: hsl(
  $secondaryAccentColorH,
  $secondaryAccentColorS,
  20.42%
);
// disabled
$disabledColorS: 10%;

// shadow
$shadowColor: hsla(0, 0%, 14%, 0.5);

// animation settings
$transitionProps: 0.2s linear;

// other settings
$borderRadius: 8px;

//char settings
$contentWidth: 240px;
