@import "../../utils/styles/variables";

.root {
  padding: 0px;

  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: 10px;

  background-color: $primaryBGColorHSL;
  border-radius: $borderRadius;
  overflow: hidden;
  box-shadow: 0 8px 16px -8px darken($primaryBGColorHSL, 20%);
  transition: box-shadow $transitionProps, padding $transitionProps;

  .header {
    flex-basis: 25%;
    flex-shrink: 0;

    height: 100%;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    background-color: $secondaryAccentColor;
    box-sizing: border-box;

    transition: opacity $transitionProps, height $transitionProps;

    .number {
      display: block;

      margin: 0;
      padding: 0;

      font-size: 2.4em;
      color: inherit;
      font-weight: 600;
    }
  }

  .content {
    flex-grow: 1;

    padding: 10px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;

    .name {
      margin: 0;
      padding: 0;

      font-size: 1em;
      color: inherit;
      font-weight: 500;
    }
  }

  &:hover {
    box-shadow: 0 16px 26px -8px darken($color: $primaryBGColorHSL, $amount: 20%);
  }
}
