@import "../../utils/styles/variables.scss";

$BGColor: $primaryBGColor;
$shadow: 0px 10px 20px -20px $secondaryAccentColor;
$borderR: $borderRadius;

.root {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;

  display: grid;
  grid-template-areas:
    "header"
    "content"
    "episodes";
  gap: 64px;

  color: $primaryTextColor;

  .header {
    grid-area: header;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 6px;

      .name {
        margin: 0;
        padding: 0;

        font-size: 24px;
        color: inherit;
        text-align: center;
      }
    }
  }

  .content {
    padding-bottom: 42px;
    grid-area: content;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;

    .contentHeader {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .avatar {
        grid-area: avatar;
        justify-self: center;
        position: relative;
        width: 242px;
        height: 242px;

        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        img {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;

          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top center;
          border-radius: 50%;

          box-shadow: -10px 10px 30px -20px $secondaryAccentColor,
            10px -10px 30px -20px $primaryAccentColor,
            -10px 10px 30px -20px $secondaryAccentColor;
        }
      }
    }

    .contentMain {
      //flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .info {
      width: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;

      display: flex;
      flex-direction: column;
      gap: 16px;

      transition: visibility $transitionProps, opacity $transitionProps;

      li {
        margin: 0;
        padding: 0;

        display: flex;
        justify-content: flex-start;
        gap: 18px;

        span {
          &:first-child {
            flex-grow: 1;
          }

          &:last-child {
            font-weight: 600;
          }
        }
      }
    }
  }

  .episodes {
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    grid-area: episodes;

    min-height: 20vh;

    &__title {
      margin: 0;
      padding: 0;
      font-weight: 600;
    }
  }

  @media screen and (max-width: $tablet) {
    .content {
      flex-direction: column;
      gap: 42px;
    }
  }

  @media screen and (max-width: $phone) {
  }
}

.backButton {
  width: 42px;
  height: 42px;

  margin: 0;
  padding: 0;
  z-index: 1;

  background-color: transparent;
  border: none;
  cursor: pointer;

  font-size: inherit;
  color: darken($primaryTextColor, 20%);

  fill: $primaryTextColor;
  stroke: $primaryTextColor;

  transition: fill $transitionProps, stroke $transitionProps;

  &__svg {
    fill: inherit;
    stroke: inherit;
  }

  &:hover {
    fill: $primaryAccentColor;
    stroke: $primaryAccentColor;
  }

  &:disabled {
    fill: $disabledTextColor;
    stroke: $disabledTextColor;

    cursor: default;

    &:hover {
      fill: $disabledTextColor;
      stroke: $disabledTextColor;
    }
  }
}

.toogleAddButton {
  width: 42px;
}

.container {
  padding: 20px;
  margin: 0 20px;
  box-sizing: border-box;

  background-color: $BGColor;
  box-shadow: $shadow;
  border-radius: $borderR;

  @media screen and (max-width: $phone) {
    padding: 10px;
    margin: 0;
  }
}
