@import "../../utils/styles/variables.scss";

.root {
  padding: 42px 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  box-sizing: border-box;

  .header {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .title {
      position: relative;
      margin: 0;
      padding: 0;
      align-self: flex-end;

      font-size: 42px;
      font-weight: 500;
      color: inherit;

      text-shadow: 0px 0px 20px $primaryBGColorHSL;
    }
  }

  .bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;

    opacity: 1;

    transition: opacity $transitionProps;
  }

  .bgHidden {
    opacity: 0;
  }

  .nav {
    position: relative;
    display: flex;
    font-size: 36px;

    .button {
      flex-grow: 1;
      display: flex;
      align-items: center;
      color: $secondaryTextColor;
      font-size: inherit;
      height: 100%;
      border: none;
      padding: 0;
      margin: 0;
      background-color: transparent;
      background-size: cover;
      filter: grayscale(90%);
      cursor: pointer;
      background-color: $secondaryBGColorHSL;

      transition: filter $transitionProps, height $transitionProps;

      p {
        margin: 0;
        padding: 0;
      }

      &:hover {
        filter: grayscale(0);
      }

      p {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: $tablet) {
    .nav {
      font-size: 24px;
      flex-direction: column;
      align-items: center;

      gap: 24px;

      .button {
        min-width: 50%;
        min-height: 42px;

        border-radius: $borderRadius;
      }
    }
  }
  /* 
  @media screen and (max-width: $phone) {
    //flex-direction: column-reverse;

    .header {
      //justify-content: flex-start;
    }

    .nav {
    }
  } */
}
