@import "../../utils/styles/variables.scss";

.root {
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 420px);
  grid-auto-rows: 100px;
  align-items: stretch;
  gap: 20px;

  li {
    height: 100%;

    article {
      height: 100%;
    }
  }
}
