@import "../../utils/styles/variables.scss";

.root {
  width: 100%;
  max-width: 642px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  .fieldset {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    border: none;

    .search {
      width: 100%;
      margin: 0;
      padding: 10px 20px;

      color: inherit;
      font-size: inherit;

      border: 1px solid $secondaryAccentColor;
      border-radius: $borderRadius;
      background-color: $primaryBGColor;

      box-sizing: border-box;
      transition: border $transitionProps;

      &:focus {
        outline: none;
        border-color: $primaryAccentColor;
      }

      &::placeholder {
        color: $disabledTextColor;
      }

      &:disabled {
        opacity: 0.5;
      }
    }
  }

  .submit {
    width: 42px;
    height: 42px;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: $borderRadius;
    background-color: $secondaryAccentColor;

    cursor: pointer;
    fill: $primaryTextColor;

    transition: background-color $transitionProps, fill $transitionProps;

    &:hover {
      background-color: $primaryAccentColor;
    }

    &:disabled {
      background-color: $disabledTextColor;
      opacity: 0.5;
      cursor: default;
    }

    .svg {
      height: 50%;
      width: 50%;
      fill: inherit;
    }
  }
}
