@import "../../utils/styles/variables";

.root {
  padding: 20px 10px;
  position: relative;
  z-index: 1;
  min-width: 280px;
  height: 100%;
  max-height: 90vh;
  box-sizing: border-box;

  display: grid;
  grid-template-areas:
    "header "
    "content "
    "episodes "
    "footer ";
  column-gap: 0px;
  row-gap: 18px;

  border-radius: $borderRadius;
  background: linear-gradient(
    -45deg,
    $primaryBGColor,
    $secondaryBGColor,
    $secondaryAccentColor 164%
  );

  box-shadow: 0 8px 26px -8px darken($color: $primaryBGColor, $amount: 20%);
  transition: box-shadow $transitionProps, padding $transitionProps;

  .header {
    grid-area: header;
    justify-self: center;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    box-sizing: border-box;

    transition: opacity $transitionProps, height $transitionProps;

    .status {
      align-self: baseline;
    }

    .avatar {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 150px;
      height: 100%;
      max-height: 150px;
      border-radius: 50%;
      object-fit: cover;
      object-position: top center;

      box-shadow: -16px 16px 50px -20px $secondaryAccentColor,
        16px -16px 50px -20px $primaryAccentColor,
        -16px 16px 50px -20px $secondaryAccentColor;
    }

    .name {
      width: 100%;
      max-width: $tablet;
      margin: 0;
      padding: 0;

      font-weight: 500;
      font-size: 24px;
      color: inherit;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .content {
    grid-area: content;

    width: 100%;
    max-width: 640px;

    position: relative;
    z-index: 1;
    box-sizing: border-box;

    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;

    color: darken($primaryTextColor, 16%);

    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;

    transition: height $transitionProps, opacity $transitionProps,
      box-shadow $transitionProps;

    .subTitle {
      padding: 0;
      margin: 0;

      display: flex;
      justify-content: space-between;
    }

    .info {
      list-style-type: none;
      margin: 0;
      padding: 10px 20px 0;

      display: flex;
      flex-direction: column;
      gap: 8px;

      border-radius: $borderRadius * 0.5;
      background: linear-gradient(
        0deg,
        transparent,
        $secondaryAccentColor 420%
      );

      transition: visibility $transitionProps, opacity $transitionProps;

      li {
        margin: 0;
        padding: 0;

        display: flex;
        justify-content: flex-start;
        gap: 18px;

        span {
          &:first-child {
            flex-grow: 1;
          }

          &:last-child {
            font-weight: 600;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }

      &__link {
        text-decoration: none;
        color: inherit;

        &:hover {
          color: $primaryAccentColor;
        }
      }
    }
  }

  .episodes {
    padding: 20px;
    justify-self: center;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-radius: $borderRadius * 0.5;
    background: linear-gradient(0deg, transparent, $secondaryAccentColor 420%);

    .title {
      color: $secondaryTextColor;
    }

    .number {
      color: $primaryTextColor;
      font-weight: 600;
      font-size: 24px;
    }
  }

  .buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  @media screen and (max-width: $tablet) {
    .header {
      .name {
        max-width: 75vw;
      }
    }
    .content {
      max-width: 75vw;
    }
  }

  @media screen and (max-width: $phone) {
    .header {
      .name {
        max-width: 280px;
      }
    }
    .content {
      max-width: 280px;
    }
  }
}
