@import "../../utils/styles/variables.scss";

$headerAccentColor: transparent; //mix($primaryAccentColor, $secondaryAccentColor, 60%);

.root {
  margin-bottom: 42px;
  justify-self: center;
  grid-area: header;

  position: sticky;
  top: 0;
  z-index: 1000;

  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;

  background-color: $headerAccentColor;
  transition: box-shadow $transitionProps;

  .headerBG {
    width: 100vw;
    height: 100vw;
    max-height: 400px;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;

    transition: visibility $transitionProps, opacity $transitionProps;

    img {
      position: absolute;
      left: 0;
      z-index: 1;
    }

    .headerBG_objectContainer {
      width: 64vw;
      height: 20vw;

      position: absolute;
      top: 50%;
      right: 0;
      z-index: 2;

      transform-origin: center right;
    }

    .headerBG_object {
      width: 20%;
      bottom: 20%;
      left: 0;
      bottom: 0;

      object-fit: contain;
      object-position: center center;
    }

    .headerBG_front {
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 1000;
      object-fit: cover;
      object-position: top bottom;
    }

    .headerBG_back {
      margin-bottom: -50%;
      width: 90vw;
      height: auto;
      max-height: 100vw;
      top: 0;
      z-index: 1;

      left: 50%;
      transform: translateX(-50%);

      filter: blur(4px);

      object-fit: cover;
      object-position: center bottom;
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
    }

    @media screen and (max-height: 600px) {
      display: none;
    }

    @media screen and (max-width: $tablet) {
      max-height: 300px;
    }

    @media screen and (max-width: $phone) {
      max-height: 200px;
    }
  }

  &_active {
    //box-shadow: 0px 0px 20px 10px $secondaryBGColorHSL;

    .headerBG {
      visibility: visible;
      opacity: 1;
    }
  }

  .container {
    max-width: $maxWidth;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    width: 100%;
    max-width: 42px;
    height: auto;

    path {
      transition: fill $transitionProps;
    }

    path[data-color="hair"] {
      fill: $headerAccentColor;
    }
    path[data-color="skin"] {
      fill: $headerAccentColor;
    }
    path[data-color="eye"] {
      fill: $headerAccentColor;
    }
    path[data-color="line"] {
      fill: #1d1d1b;
    }
  }

  .rick {
    &:hover {
      path[data-color="hair"] {
        fill: #85bfe9;
      }
      path[data-color="skin"] {
        fill: #e6e4da;
      }
      path[data-color="eye"] {
        fill: #fff;
      }
      path[data-color="line"] {
        fill: #1d1d1b;
      }
    }
  }

  .morty {
    &:hover {
      path[data-color="hair"] {
        fill: #92522c;
      }
      path[data-color="skin"] {
        fill: #f3cec3;
      }
      path[data-color="eye"] {
        fill: #fff;
      }
      path[data-color="line"] {
        fill: #1d1d1b;
      }
    }
  }
}
