@import "../../utils/styles/variables";

.footer {
  grid-area: footer;
  //padding: 10px;
  width: 100%;
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $secondaryTextColor;
  box-sizing: border-box;

  transition: opacity $transitionProps;

  .footerAbout {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 2px;

    li {
      margin: 0;
      padding: 0;
    }
  }

  .Alive {
    font-weight: 600;
    color: $primaryAccentColor;
  }

  .Dead {
    font-weight: 600;
    color: $disabledAccentColor;
  }
}
