@import "../../utils/styles/variables";

.root {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 16px;

  transition: visibility $transitionProps, opacity $transitionProps;

  li {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: flex-start;
    gap: 18px;

    span {
      &:first-child {
        flex-grow: 1;
      }

      &:last-child {
        font-weight: 600;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $primaryAccentColor;
    }
  }
}
