@import "../../utils/styles/variables.scss";

.root {
  grid-area: footer;
  justify-self: center;

  width: 100%;
  min-height: 50vh;
  padding: 20px 20px;
  display: flex;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  background-color: $secondaryBGColorHSL;

  .container {
    flex-grow: 1;
    max-width: $maxWidth;
    margin: 0 auto;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  .content {
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}
