@import "../../utils/styles/variables";

.root {
  margin: 0;
  padding: 4px;

  background-color: transparent;
  border: 1px solid darken($primaryTextColor, 20%);
  border-radius: $borderRadius;
  cursor: pointer;

  font-size: inherit;
  color: darken($primaryTextColor, 20%);

  fill: darken($primaryTextColor, 20%);
  stroke: darken($primaryTextColor, 20%);

  transition: color $transitionProps, border-color $transitionProps;

  &:hover {
    color: darken($secondaryTextColor, 20%);
    border-color: darken($secondaryTextColor, 20%);
  }

  &:disabled {
    color: darken(
      hsl($primaryTextColorH, $disabledColorS, $primaryTextColorL),
      30%
    );
    border-color: darken(
      hsl($primaryTextColorH, $disabledColorS, $primaryTextColorL),
      30%
    );
    cursor: default;

    &:hover {
      color: darken(
        hsl($primaryTextColorH, $disabledColorS, $primaryTextColorL),
        30%
      );
      border-color: darken(
        hsl($primaryTextColorH, $disabledColorS, $primaryTextColorL),
        30%
      );
    }
  }
}
