@import "../../utils/styles/variables";

.root {
  margin: 0;
  padding: 10px;
  min-width: 100px;

  background-color: $secondaryAccentColor;
  border: none;
  border-radius: $borderRadius;
  cursor: pointer;

  font-size: inherit;
  color: $primaryTextColor;

  transition: color $transitionProps, background-color $transitionProps;

  &:hover {
    background-color: $primaryAccentColor;
  }

  &:disabled {
    color: $disabledTextColor;
    cursor: default;

    &:hover {
      color: $disabledTextColor;
    }
  }
}
