@import "../../utils/styles/variables.scss";

.root {
  width: 100%;
  padding: 60px 15px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 64px;

  @media screen and (max-width: $phone) {
    gap: 64px;
  }
}
