@import "../../utils/styles/variables.scss";

.root {
  width: 100%;
  display: flex;
  align-items: stretch;

  color: $primaryTextColor;

  box-sizing: border-box;

  .container {
    flex-grow: 1;
    display: flex;
    box-shadow: 0px 20px 10px -10px darken($secondaryBGColor, 5%);
  }

  .button {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: inherit;
    font-size: inherit;
    height: 100%;
    border: none;
    padding: 4px 2px;
    margin: 0;

    cursor: pointer;
    background-color: $primaryBGColor;

    transition: color $transitionProps, background-color $transitionProps;

    &Title {
      position: relative;
      margin: 0;
      padding: 0;
    }

    &Notify {
      padding: 2px;
      min-width: 1.5em;
      min-height: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: $borderRadius * 0.5;
      background: $secondaryAccentColor;
    }

    &:hover {
      color: $primaryAccentColor;
    }
  }

  @media screen and (max-width: $tablet) {
    width: 100vw;
    height: auto;
    justify-content: stretch;

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;

    font-size: 12px;
    gap: 24px;

    .button {
      min-height: 42px;
    }

    .container {
      width: 100%;
      box-shadow: none;
    }
  }

  @media screen and (max-width: $phone) {
    font-size: 8px;
  }
}
