@import "../../utils/styles/variables.scss";

.root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  color: $primaryTextColor;

  .button {
    flex-grow: 1;
    display: flex;
    align-items: center;
    color: $secondaryTextColor;
    font-size: inherit;
    height: 100%;
    border: none;
    padding: 8px 2px;
    margin: 0;
    background-color: transparent;
    background-size: cover;
    filter: grayscale(90%);
    cursor: pointer;
    background-color: $secondaryBGColorHSL;

    transition: filter $transitionProps, height $transitionProps;

    p {
      margin: 0;
      padding: 0;
    }

    &:hover {
      filter: grayscale(0);
    }

    p {
      width: 100%;
    }
  }

  @media screen and (max-width: $tablet) {
    padding: 20px;
    width: auto;

    position: absolute;
    top: -100vh;
    left: 50%;
    z-index: 1000;

    font-size: 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    transform: translateX(-50%);

    transition: top $transitionProps;

    .button {
      min-width: 50%;
      min-height: 42px;

      border-radius: $borderRadius;
    }

    &_active {
      top: 100%;
    }

    &::before {
      content: "";
      position: fixed;
      top: -14%;
      left: -73%;
      z-index: 0;

      width: 100vw;
      height: 100vh;

      cursor: pointer;
    }
  }

  @media screen and (max-width: $phone) {
  }
}
