@import "../../utils/styles/variables.scss";

.root {
  width: 100%;
  display: flex;
  align-items: center;

  color: $primaryTextColor;

  box-sizing: border-box;

  cursor: pointer;

  .container {
    flex-grow: 1;
    display: flex;
    box-shadow: 0px 20px 10px -10px $secondaryBGColor;
  }

  .button {
    flex-grow: 1;
    display: flex;
    align-items: center;
    color: $primaryTextColor;
    font-size: inherit;
    height: 100%;
    border: none;
    padding: 8px 2px;
    margin: 0;

    cursor: pointer;
    background-color: $primaryBGColor;

    transition: color $transitionProps, background-color $transitionProps;

    p {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    &:hover {
      color: $primaryAccentColor;
    }
  }

  @media screen and (max-width: $tablet) {
    width: 100vw;
    height: 100vh;
    justify-content: center;

    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;

    font-size: 24px;
    gap: 24px;

    background: linear-gradient(
      180deg,
      $secondaryBGColor,
      transparentize($color: $secondaryBGColor, $amount: 0.1)
    );

    transition: top $transitionProps, visibility $transitionProps,
      opacity $transitionProps;

    .button {
      min-width: 50%;
      min-height: 42px;

      border-radius: $borderRadius;
      box-shadow: 0px 10px 10px $secondaryBGColor;
    }

    &_active {
      top: 0;
      visibility: visible;
      opacity: 1;
    }

    .container {
      flex-grow: 0;
      width: 100%;
      padding: 20px;
      width: auto;
      box-shadow: none;

      flex-direction: column;
      gap: 5vh;
    }
  }

  @media screen and (max-width: $phone) {
  }
}
